<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display User Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="300"/>
</head>
<body>
    <h1>Display User Form</h1>


    <div class = "container">
        <table class="table table-striped">
            <tr th:each="product : ${message}">
                <td th:text="${message}"></td>
            </tr>
        </table>
    </div>


    <div class = "container">
        <table class="table table-striped">
            <tr>
                <th>hashTag</th>
                <th>tweet</th>
            </tr>
            <tr th:each="product : ${last10Twits}">
                <td th:text="${product.hashTag}"></td>
                <td th:text="${product.text}"></td>
            </tr>
        </table>
    </div>

    <p></p>

        <a href="/form">Login with another User Form</a><p></p>
        <a href="/display">Display screen</a><p></p>
        <a href="/statistics">Statistics screen</a>
</body>
</html>