<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>User Login Form</h1>
    <form action="#" th:action="@{/form}" th:object="${user}" method="post">
        <p>userName: <input type="text" th:field="*{userName}" /></p>
        <p>firstHashtag: <input type="text" th:field="*{firstHashtag}" /></p>
        <p>secondHashtag: <input type="text" th:field="*{secondHashtag}" /></p>
        <p>thirdHashtag: <input type="text" th:field="*{thirdHashtag}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>

